<div id="footer">
			<div id="footer_left">
				<h1>Skypiea &copy; 2013</h1>
				<a href="#"><img src="/assets/twitter.png">Follow Skypiea on Twitter</a>
				<a href="#"><img src="/assets/fb.png">Follow Skypiea Page on Facebook</a>
			</div>
			<div id="footer_right">
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Term of Use</a></li>
				</ul>
			</div>
		</div>